/* DashboardComponent's private CSS styles */
h1 {
  text-align: center;
}

button {
  padding: 20px 35px;
  font-size: 1.3rem;
}

.heroes-menu {
  padding: 0;

  /* flexbox */
  display: flex;
  justify-content: center;
  gap: 10px;
}