/* DashboardComponent's private CSS styles */
h2 {
  text-align: center;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 500px;

  /* flexbox */
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}