<div *ngIf="hero" class="details">
    <h2> <b>{{hero.name | uppercase}}</b></h2>
    <h3>ID: {{hero.id}}</h3>

    <mat-form-field appearance="outline">
      <mat-label>Hero Name</mat-label>
      <input id="hero-name" matInput [(ngModel)]="hero.name">
    </mat-form-field>
    
</div>

<div class="actions">
  <button mat-stroked-button color="accent" type="button" (click)="goBack()">Go back</button>

  <button mat-raised-button color="accent" type="button" (click)="save()">Save</button>
</div>